body{
    background-color: #183A4A;
    color: White;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

li{
    height: 100px;
    width: 100px;
    background-color: #3D88AE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: capitalize;
}

.fizz{
    background-color: #61D2A4;
}

.buzz{
    background-color:#FFD166;
}   

.fizzbuzz{
    background-color: #F0466F; 
}