body{
    background-color: #183A4A;
    color: White;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

li{
    height: 100px;
    width: 100px;
    padding: 25px;
    background-color: #3D88AE;
}